body {
    background-color: #F2F2F5;
    font-family: 'Slabo 27px', serif;
    color: #767780;
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 2em;
}

h2,h3 {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 1em;
}

a {
    color: #434449;
}

a:hover {
    color: #AA78A6;
}

.picture {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 3px solid grey;
}

.illustrations {
  height: auto;
  width:400px;
}


.container {
  width: 1100px;
  margin: 0 auto;
}

.card {
  border: 1px solid #bbbbbb;
  margin: 20px;
  padding: 5px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px grey;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
